.add-student-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;

        >* {
            margin: 5px;
        }

        button {
            padding: 8px;
            margin-top: 12px;
        }

        label {
            display: flex;
            justify-content: space-between;
            width: 80%;

            option {
                padding: 5px;
                // border-radius: 21px;
                // background-color: aqua;
            }

            .custom-select,
            input {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background-color: #ffffff;
                border: 1px solid #ccc;
                padding: 8px 16px;
                border-radius: 4px;
                font-size: 16px;
                width: 150px;
                position: relative;

                &:focus {
                    outline: none;
                    border-color: #757b83;
                }
            }

            /* Style the select on hover */
            .custom-select:hover {
                border-color: #aaa;
            }

        }

        .btn-container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            button {
                font-size: 11px;
                // opacity: 0.5;

                &.not-active {
                    opacity: 0.5;
                }
            }
        }

        .lessons-info-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 5px;
            align-items: center;
        }
    }

    @media (max-width:650px) {
        width: 100%;
    }
}