.add-to-group-container {
    background-color: rgb(228, 228, 228);
    // width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    gap: 15px;
    // overflow-y: scroll;

    .cmp-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        h3 {
            margin-bottom: 0;
        }
    }

    input {
        width: 90%;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: #ffffff;
        border: 1px solid #ccc;
        padding: 6px 12px;
        border-radius: 4px;
    }

    ul {
        background-color: white;
        padding: 15px;
        border-radius: 15px;
        width: 90%;
    }
}