.calendar-container {
    .calendar-header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-block: 15px;
        gap: 15px;
        text-align: center;

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            flex: 1;
        }

        h2 {
            flex: 4;
        }

        img {
            width: 20px;
        }

        >* {
            margin: 0;
        }
    }

    .calendar {
        width: 100%;

        th,
        td {
            border-radius: 10px;
            text-align: center;
            width: calc(100%/7);
        }
        
        td {
            cursor: pointer;
            padding: 5px;

            .calendar-date {
                font-weight: 600;
                margin: 0;
            }

            .students-count {
                font-size: 0.6rem;
            }

            &.today {
                background-color: lightblue;
            }

            &.chosen-day {
                background-color: rgb(73, 150, 175);
            }

            &.empty-cell {
                cursor: default;
            }
        }

    }

    @media (max-width:600px) {
        .calendar-header {
            button {
                flex: 0;
            }
        }

        .calendar {
            td {
                .students-in-day {
                    display: none;
                }

            }
        }
    }
}