.deep-statistics-container {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;

    .chart-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 15px;

        button {
            padding-top: 7px;
            margin: 0;
            border-radius: 50%;
            max-width: 40px;
            max-height: 40px;

            img {
                width: 80%;
                height: 100%;
                border-radius: 100%;
            }

        }
    }

    .main-statistics {

        .monthly-statistics {
            .stat-container {
                display: flex;
                flex-direction: column;

                p {
                }
            }
        }
    }

    .stat {
        width: 90%;
        background-color: rgba(118, 161, 161, 0.397);
        height: 5px;
        border-radius: 5px;
        align-self: center;

        .stat-fill {
            background-color: rgb(66, 202, 202);
            height: 5px;
            border-radius: 5px;
            width: 20%;
        }
    }

}