.charts-container {
    padding: 15px;

    .chart-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 15px;
        // margin-inline: 10px;

        button {
            padding-top: 7px;
            margin: 0;
            border-radius: 50%;
            max-width: 40px;
            max-height: 40px;

            img {
                width: 80%;
                height: 100%;
                border-radius: 100%;
            }

        }
    }

    .table-container {
        overflow-x: auto;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(87, 86, 86, 0.1);

    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        table-layout: fixed;

        th,
        td {
            border-bottom: 1px solid #ddd;
            text-align: center;
        }

        thead th {
            background-color: $clr4;
            color: white;
            // text-align: left;
            padding: 12px;
        }

        tbody td {
            padding: 12px;
            // text-align: left;
            vertical-align: middle;
        }

        tbody tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tbody tr:hover {
            background-color: #ddd;
        }
    }

    .card {
        display: none;
    }

    @media screen and (max-width: 600px) {
        .table-container {
            th {
                padding: 5px;

                button {
                    margin: 0;
                    margin-bottom: 3px;
                }
            }
        }

    }
}