.charts-container {

    .table-container {
        overflow-x: auto;
        margin: 10px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(87, 86, 86, 0.1);
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        table-layout: fixed;

        th,
        td {
            border-bottom: 1px solid #ddd;
            text-align: center;
        }

        thead th {
            background-color: $clr4;
            color: white;
            // text-align: left;
            padding: 12px;
        }

        tbody td {
            padding: 12px;
            // text-align: left;
            vertical-align: middle;
        }

        tbody tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tbody tr:hover {
            background-color: #ddd;
        }
    }

    .card {
        display: none;
    }

    @media screen and (max-width: 600px) {
        .table-container {
            overflow: hidden;
        }

        table {
            display: none;
        }

        .card {
            display: block;
            background-color: white;
            margin-bottom: 15px;
            padding: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            border-radius: 5px;

            .card-header {
                background-color: #4CAF50;
                color: white;
                padding: 10px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }

            .card-body {
                padding: 10px;
            }

            .card-row {
                margin-bottom: 10px;
                display: flex;

                &.last {
                    margin-bottom: 0;
                }

                &>span {
                    display: block;
                    font-weight: bold;
                }

                &>div {
                    padding-left: 10px;
                }
            }
        }
    }
}