.charts-container {
    padding: 15px;

    .chart-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 15px;
        // margin-inline: 10px;

        button {
            padding-top: 7px;
            margin: 0;
            border-radius: 50%;
            max-width: 40px;
            max-height: 40px;

            img {
                width: 80%;
                height: 100%;
                border-radius: 100%;
            }

        }
    }

    .table-container {
        overflow-x: auto;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(87, 86, 86, 0.1);
        max-height: 500px;
        overflow-y: scroll;

        ::-webkit-scrollbar-track {
            background-color: #d41717; // Background color of the track
            border-radius: 10px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        table-layout: fixed;

        th,
        td {
            border-bottom: 1px solid #ddd;
            text-align: center;
        }

        thead {
            position: sticky;
            top: 0;
            // background-color: white; // Optional: Ensures header background remains opaque when scrolling
            z-index: 1; // Keep the header on top of other rows while scrolling

            th {
                background-color: $clr4;
                color: white;
                // text-align: left;
                padding: 12px;
            }
        }

        tbody td {
            padding: 12px;
            // text-align: left;
            vertical-align: middle;
        }

        tbody tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tbody tr:hover {
            background-color: #ddd;
        }

        .total-line {
            position: sticky;
            bottom: -2px;
            background-color: $clr4 !important;
            color: white;
            z-index: 1; // Ensures the "Total" row stays above other rows while scrolling
        }

        .student-name {
            max-width: 150px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: pointer;
        }

        .student-name.expanded {
            white-space: normal; // Allow wrapping when expanded
            overflow: visible;
            max-width: none;
        }
    }

    .card {
        display: none;
    }

    @media screen and (max-width: 600px) {
        .table-container {
            th {
                padding: 5px;

                button {
                    margin: 0;
                    margin-bottom: 3px;
                }
            }

            td {
                // padding-inline: 8px;
                // padding-block: 10px;
                padding: 8px;
            }

            .student-name {
                font-size: 16px;
                font-weight: 600;
            }
        }

    }
}

//   .table-container::-webkit-scrollbar {
//     width: 1px; // Set scrollbar width
//     color: #d41717;
//   }

//   .table-container::-webkit-scrollbar-track {
//     background-color: transparent; // Background color of the track
//     border-radius: 10px;
//     margin-top: 5px;
//     margin-bottom: 5px;
//   }

//   .table-container::-webkit-scrollbar-thumb {
//     background-color: #e42323;
//     border-radius: 10px;
//   }