.stats-page-container {
    display: flex;
    flex-direction: column;
    // height: 100%;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    padding: 5px;

    .stats-container {
        display: flex;
        gap: 15px;
        height: 100%;
        align-items: end;

        .month-stats {
            display: flex;
            align-items: end;
            justify-content: flex-end;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 100%;

            .candle {
                position: relative;
                border-top-right-radius: 5px;
                border-top-left-radius: 5px;
                width: 25%;
                background-color: $clr7;

                &:hover {
                    background-color: #43726e;

                    p.earning {
                        display: block;
                    }
                }

                .earning {
                    display: none;
                    position: absolute;
                    top: -30px;
                    left: 20px;
                    font-size: 0.8rem;
                    padding: 5px;
                    border-radius: 5px;
                    background-color: white;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    z-index: 20;
                }
            }
        }
    }
}