* {
    box-sizing: border-box;
}


html {
    font-family: montserrat;
    line-height: 1.6;
    color: $clr2;
    background-color: #e1eceb;
    -webkit-tap-highlight-color: transparent;
    // direction: rtl;
}

*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

body {
    background-color: #e1eceb;
    font-size: rem(18px);
    margin: 0;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

    &.no-scroll {
        overflow: hidden;
        height: 100%;
    }

    @media(min-width:650px) {
        overflow: hidden;
    }
}


h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
a,
label,
span,
p {
    font-family: varela;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.6em;
    line-height: 1;
}


section,
main,
footer {
    // padding: 5px;
}

// img {
//     width: 100%;
// }

p {
    max-width: 40ch;
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    // text-decoration: underline;
    // color: $clr2;
}

button {
    cursor: pointer;
    border-radius: 9px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    padding-block: 1rem;
    padding-inline: 1.5rem;
}

.main-page {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #e1eceb;
    // min-height: 200vh;

    >* {
        width: 80%;
    }

    header {
        width: 20%;
    }

    @media (max-width:650px) {
        height: 100%;
        min-height: 100vh;
        flex-direction: column;
        padding-bottom: 10vh;

        >* {
            width: 100%;
        }

        header {
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 10vh;
            // width: 20%;
            // transform: translateX(-100%);
            // transition: 1.5s;
        }
    }
}

.main-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    img {
        width: 100px;
        height: 100px;
    }
}

.arrival-btn {
    width: 25px;
    height: 25px;
    background-color: transparent;
    padding: 0;
    margin: 0;

    img {
        width: 100%;
        height: 100%;
        border-radius: 25px;
    }
}

input[type="time"] {
  padding: 0.6em 0.75em;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}