.student-details-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        "card notes btn"
        "lessons notes edit"
        "lessons reports edit"
        "lessons reports edit"
        "lessons reports edit"
    ;
    gap: 30px;

    .student-card {
        grid-area: card;
        display: flex;
        flex-direction: column;
        color: $clr6;
        background-color: $clr1;
        padding: 10px;
        border-radius: 10px;
        font-weight: 500;

        div {
            display: flex;
            justify-content: space-between;
        }

        button {
            align-self: center;
        }
    }

    .last-lessons {
        grid-area: lessons;
        background-color: white;
        padding: 15px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;

        .btn-container {
            display: flex;
            justify-content: space-between;
            // margin-bottom: 10px;

            h3 {
                margin-bottom: 0;
                align-self: center;
            }
        }

        .lessons-list {

            // display: flex;
            // gap: 30px;
            // justify-content: center;
            // flex-direction: column;
            // position: relative;

            .monthly-header {
                display: flex;
                position: relative;
                width: 100%;

                h4 {
                    margin-top: 20px;
                    // justify-self: end;
                    align-self: center;
                }

                .pay-all-btn {
                    width: 25px;
                    height: 25px;
                    background-color: transparent;
                    padding: 0;
                    margin: 0;
                    position: absolute;
                    right: 0;
                    top: 10px;

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 25px;
                        margin-top: 5px;
                    }
                }
            }

            .lesson-item {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .edit-lesson {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    button {
                        width: 30px;
                        height: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 7px;
                        margin: 2px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }

            .btns-container {
                display: flex;
                gap: 8px;
                height: 100%;
                justify-content: center;
                align-items: center;

                button {
                    background-color: transparent;
                    padding: 0;
                    margin: 0;
                    // width: 25px;
                    height: 100%;

                    img {
                        height: 100%;
                        width: 100%;
                        width: 25px;
                        height: 25px;
                        border-radius: 25px;
                        opacity: 0.4;
                        transition: 0.6s;

                        &:hover {
                            opacity: 0.8;
                        }

                        &.active-status {
                            opacity: 1;
                            // box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
                        }
                    }
                }
            }

            .lesson-list {
                display: flex;
                flex-direction: column;
                position: relative;

                li {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    p {
                        margin: 0;
                    }
                }
            }
        }
    }

    .notes-container {
        display: flex;
        flex-direction: column;
        padding: 15px;
        border-radius: 15px;
        overflow-y: auto;
        background-color: white;

        h3 {
            align-self: center;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;

            li {
                button {
                    width: 100%;
                    padding: 10px;
                    margin: 0;
                }
            }
        }
    }

    .add-btn {
        grid-area: btn;
    }

    .notes {
        grid-area: notes;
    }

    .reports {
        grid-area: reports;
    }

    .edit {
        grid-area: edit;
    }

    @media (max-width:650px) {
        display: flex;
        // justify-content: space-between;
        flex-direction: column;
        // align-items: baseline;
        // flex-wrap: wrap;
        margin-bottom: 30px;
        flex-direction: column;
        gap: 20px;

        >* {
            width: 100%;
        }
    }
}