.students-container {

    .students-header {
        display: flex;
        // align-items: center;
        flex-direction: column;
        margin-block: 20px;
        gap: 10px;

        .sub-students-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            h3 {
                margin: 0;
            }
        }

        input {
            width: 100%;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-color: #ffffff;
            border: 1px solid #ccc;
            padding: 6px 12px;
            border-radius: 4px;
        }
    }

    .inactive-btn {
        background-color: white;
        color: $clr1;
    }

    .days-container {
        display: flex;
        gap: 10px;
        position: relative;

        .students-list {
            width: 100%;
            max-width: 25%;
            position: relative;

            .student-list {
                gap: 10px;
                // display: flex;
                // flex-direction: column;
                // flex-wrap: wrap;
                // padding: 0;
                // margin: 0;
                // margin-bottom: 10px;

                li {
                    flex: 1 0 auto;
                    border-radius: 10px;
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    // max-width: 24%;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                    background-color: $clr4;
                    // min-width: 150px;
                    // max-width: 250px;

                    a {
                        display: flex;
                        flex-direction: column;
                        position: relative;
                        color: white;

                        .student-name {
                            font-size: 1.3rem;
                            font-weight: 500;
                            // line-height: 1;
                        }

                        .student-day {
                            font-size: 0.8rem;
                        }

                        .delete-btn {
                            position: absolute;
                            right: 3px;
                            top: 3px;
                        }

                        // .activate-btn {
                        //     position: absolute;
                        //     right: 3px;
                        //     bottom: 3px;
                        // }
                    }
                }
            }

            .lessons-imgs {
                display: flex;
                gap: 5px;

                div {
                    display: flex;
                }

                img {
                    width: 17px;
                    height: 17px;
                    align-self: center;
                }
            }
        }

        .groups-container {
            background-color: aqua;
        }
    }

    .delete-student-container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        padding: 10px;
        border-radius: 5px;

        .btns-delete-container {
            display: flex;
        }

    }

    .add-student-cmp {
        position: absolute;
        z-index: 100;
        width: 100%;
        height: 100vh;
        margin-top: 50px;
        left: 0;
        bottom: -10px;
        background-color: white;
        overflow-y: scroll;
        padding-block: 15px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    @media (max-width:650px) {
        .students-header {
            // flex-direction: column;

            // .sub-students-header {
            //     display: flex;
            //     align-items: center;
            //     justify-content: space-between;
            //     width: 100%;
            // }

            // input {
            //     width: 100%;
            // }
        }

        .days-container {
            flex-direction: column;
            gap: 0px;

            .students-list {
                min-width: 100%;
                margin-bottom: 15px;

                .student-list {
                    li {
                        width: 100%;
                        max-width: 100%;
                    }
                }
            }
        }
    }
}